{% extends "poster_app/user/base.html" %}
{% block content %}

    <section class="jumbotron text-center">
    <div class="container">
        <h1>Добавить выставку</h1>
    </div>
  </section>
<div class="container">
<row>
    <div class="col">
    </div>
<div class="col-6">
        <form action="{% url 'exhibition'  %}" method="POST">
            {% csrf_token %}
          <div class="form-group">
          <input type="hidden" required class="form-control" name="_method" value = "POST">

          <label>Название</label>
          <br>
          <input type="text" required class="form-control" name="name">
          <br>

          <label>Описание</label>
          <br>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="description"></textarea>
          <br>

          <label>Адрес</label>
          <br>
          <input type="text" required class="form-control" name="address">
          <br>

            <label>Тип выставки</label>
          <br>
            <select id="RequestType" class="form-control" name="exhibition_type">
                {% for exhibition_type in exhibition_types %}
                    <option selected value= "{{ exhibition_type.id_type_exhibition }}">
                        {{ exhibition_type.name }}
                    </option>
                {% endfor %}
            </select>
          <br>

          <label>Время начала</label>
          <br>
          <input type="time" class="form-control" name="time_begin" min="08:00" max="24:00" required>
          <br>
          <label>Время окончания</label>
          <br>
          <input type="time" class="form-control" name="time_end" min="08:00" max="24:00" required>
          <br>
          <label>Стоимость билета</label>
          <br>
          <input type="checkbox" name="free" value="0" class="mr-2 mb-2">Бесплатно<br>
          <input type="text" required class="form-control" name="price">
          <br>
             <label for="exampleFormControlFile1">Прикрепить изображение</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Добавить</button>
          </div>
        </form>
    </div>
<div class="col">
    </div>
</row>
</div>
{% endblock %}