{% extends "poster_app/user/base.html" %}
{% block content %}

    <section class="jumbotron text-center">
    <div class="container">
        <h1>Обновить выставку</h1>
    </div>
  </section>
<div class="container" id="m_content">
<row>
    <div class="col">
    </div>
<div class="col-6">
        <form action="{% url 'exhibition_update_detail' event_id=event.ID_event%}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
          <input type="hidden" required class="form-control" name="_method" value = "PUT">

          <label>Название</label>
          <br>
          <input type="text" required class="form-control" name="name" value = "{{ event.name }}">
          <br>

          <label>Описание</label>
          <br>
          <textarea class="form-control" id="description" rows="4" name="description" maxlength="2000">{{ event.description }}
          </textarea>

          <br>

          <label>Адрес</label>
          <br>
          <input type="text" required class="form-control" name="address" value = "{{ event.address }}">
          <br>

            <label>Тип выставки</label>
          <br>
            <select class="form-control" name="exhibition_type" id="exhibition_type"
            onchange="changeType()">
                {% for exhibition_type in exhibition_types %}

                    {% if exhibition_type.id_type_exhibition == event.id_type_exhibition.id_type_exhibition %}
                <option value="{{ exhibition_type.id_type_exhibition }}" selected="selected">
                {{ exhibition_type.name }}
                </option>
                    {% else %}
                    <option value="{{ exhibition_type.id_type_exhibition }}">
                {{ exhibition_type.name }}
                </option>
                    {% endif %}


                {% endfor %}
            </select>
          <br>

          {% if event.id_type_exhibition.name == 'постоянная экспозиция' %}
          <label class="d-none mb-2" id="label_date_begin">Дата начала</label>

          <input type="date" class="form-control d-none mb-2" name="date_begin" id="date_begin"
                 value = "{{event.data_begin|date:"Y-m-d" }}">

          <label class="d-none mb-2" id="label_date_end">Дата окончания</label>

          <input type="date" class="form-control d-none mb-2" name="date_end" id="date_end"
          value = "{{event.data_end|date:"Y-m-d" }}">


          {% else %}
          <label id="label_date_begin" class="mb-2">Дата начала</label>
          <input type="date" class="form-control mb-2" name="date_begin" id="date_begin" required
                 value = "{{event.data_begin|date:"Y-m-d" }}">
          <label id="label_date_end" class="mb-2">Дата окончания</label>
          <input type="date" class="form-control mb-2" name="date_end" id="date_end" required
          value = "{{event.data_end|date:"Y-m-d" }}">

        {% endif %}

          <label>Время начала</label>
          <br>
          <input type="time" class="form-control" name="time_begin" min="08:00" max="24:00" required
                 value = "{{ event.time_begin }}">
          <br>
          <label>Время окончания</label>
          <br>
          <input type="time" class="form-control" name="time_end" min="08:00" max="24:00" required
          value = "{{ event.time_end }}">
          <br>
          <label>Стоимость билета</label>
          <br>
          {% if event.isfree == True %}
          <input type="checkbox" id='123' name="123" class="mr-2 mb-2" checked>Бесплатно<br>
          <input type="text" class="form-control mt-2 d-none" id='price' name="price" value = "{{ event.ticket_price }}">
          {% else %}
          <input type="checkbox" id='123' name="123" class="mr-2 mb-2">Бесплатно<br>
            <input type="text" class="form-control mt-2" id='price' name="price" value = "{{ event.ticket_price }}">
          {% endif %}

          <br>
          <img src="{{ event.img }}" class="card-img-top">
              <br>
             <label for="upload_image">Прикрепить изображение</label>
                  <input type="file" class="form-control-file" id="upload_image" name="upload_image">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Сохранить</button>
          </div>
        </form>
    </div>
<div class="col">
    </div>
</row>
</div>
{% endblock %}

{% block script%}
    {% load static %}
<script src="{% static 'poster_app/js/add_update_event.js' %}"></script>
{% endblock %}