{% extends "poster_app/user/base.html" %}
{% block content %}

<main role="main">
    <section class="jumbotron text-center">
    <div class="container">
        <h1>Список бронирования</h1>
    </div>
  </section>

    <form action="{% url  'booking_list_download' event_id=event.ID_event%}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-outline-info mb-2 ml-2 pl-4 pr-4" value="Скачать список">
                        </form>

    <div class="table-responsive" id="m_content">
        <table class="table table-striped table-sm ml-2">
            <thead>
            <tr>
                <th>Фамилия и имя</th>
                <th>Дата бронирования</th>
                <th>Номер бронирования</th>
                <th>Статус бронирования</th>
                <th>Ряд</th>
                <th>Место</th>
                <th>Стоимость</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id_booking.ID_user_profile.surname }} {{ ticket.id_booking.ID_user_profile.name }}</td>
                    <td>{{ ticket.id_booking.date }}</td>
                    <td>{{ ticket.id_booking.number }}</td>
                    <td>{{ ticket.id_booking.id_status_booking.name }}</td>
                    {%  if ticket.ID_event.ID_type_event.name == 'Входной' %}
                    <td>-</td>
                    <td>-</td>
                    {% else %}

                    <td>{{ ticket.row }}</td>
                    <td>{{ ticket.place }}</td>
                    {% endif %}

                    {% if ticket.isfree == True %}
                    <td>Бесплатно</td>
                    {% else %}
                    <td>{{ ticket.ID_event.ticket_price }}</td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</main>
{% endblock %}