.auth_label {
    text-align: center;
    color: #6c757d;
}

.error_auth_label{
    color: darkred;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#fot {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#m_content{
    margin-bottom: 80px;
}

#row-booking{
    padding-top: 90px;
    display: block;
}

#place-booking{
    display: inline;
}

.btn-booking{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    width: 30px;
    padding: 0;
    margin: 0;
    color: #1e7e34;
    border-radius: 5px;
    cursor: pointer;
}

.btn-booking-active{
    border: 2px solid salmon;
    background-color: white;
    text-align: center;
    width: 30px;
    padding: 0;
    margin: 0;
    color: #1e7e34;
    border-radius: 5px;
    cursor: pointer;
}

.btn-booking-already-booked{
    border: 1px solid black;
    background-color: darkslategrey;
    text-align: center;
    width: 30px;
    padding: 0;
    margin: 0;
    color: darkslategrey;
    border-radius: 5px;
    cursor: pointer;
}

/* Убираем браузерную обводку у кнопок */
.btn-booking-active:active, .btn-booking-active:focus, .btn-booking:active, .btn-booking:focus {
  outline: none;
}
