.auth_label {
    text-align: center;
    color: #6c757d;
}

.error_auth_label{
    color: darkred;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#fot {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#m_content{
    margin-bottom: 80px;
}