{% extends "poster_app/administrator/base.html" %}
{% block content %}

    <section class="jumbotron text-center">
    <div class="container">
        <h1>Изменить статус выставки</h1>
    </div>
  </section>
<div class="container" id="m_content">
<row>
    <div class="col">
    </div>
<div class="col-6">
        <form action="{% url 'admin_exhibition_detail' event_id=event.ID_event%}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
          <input type="hidden" required class="form-control" name="_method" value = "PUT">

          <label>Название</label>
          <br>
          <input type="text" required class="form-control" name="name" value = "{{ event.name }}" readonly>
          <br>

          <label>Описание</label>
          <br>
          <textarea class="form-control" id="description" rows="4" name="description" readonly>{{ event.description }}
          </textarea>
          <br>

          <label>Адрес</label>
          <br>
          <input type="text" required class="form-control" name="address" value = "{{ event.address }}" readonly>
          <br>

              <label>Тип выставки</label>
          <input type="text" required class="form-control" name="address" value = "{{ event.id_type_exhibition.name }}" readonly>
          <br>


          {% if event.id_type_exhibition.name == 'постоянная экспозиция' %}
          <label class="d-none mb-2" id="label_date_begin">Дата начала</label>

          <input type="date" class="form-control d-none mb-2" name="date_begin" id="date_begin"
                 value = "{{event.data_begin|date:"Y-m-d" }}" readonly>

          <label class="d-none mb-2" id="label_date_end">Дата окончания</label>

          <input type="date" class="form-control d-none mb-2" name="date_end" id="date_end"
          value = "{{event.data_end|date:"Y-m-d" }}" readonly>


          {% else %}
          <label id="label_date_begin" class="mb-2">Дата начала</label>
          <input type="date" class="form-control mb-2" name="date_begin" id="date_begin" required
                 value = "{{event.data_begin|date:"Y-m-d" }}" readonly>
          <label id="label_date_end" class="mb-2">Дата окончания</label>
          <input type="date" class="form-control mb-2" name="date_end" id="date_end" required
          value = "{{event.data_end|date:"Y-m-d" }}" readonly>

        {% endif %}

          <label>Время начала</label>
          <br>
          <input type="time" class="form-control" name="time_begin" min="08:00" max="24:00" required
                 value = "{{ event.time_begin }}" readonly>
          <br>
          <label>Время окончания</label>
          <br>
          <input type="time" class="form-control" name="time_end" min="08:00" max="24:00" required
          value = "{{ event.time_end }}" readonly>
          <br>
          <label>Стоимость билета</label>
         <input type="text" required class="form-control" name="address" value = "{{ event.ticket_price }}" readonly>

          <br>
          <img src="{{ event.img }}" class="card-img-top">
          <select id="RequestType" class="form-control mt-3" name="status" id="status">
                                {% for status in status %}
                                    <option selected value= "{{ status }}">
                                        {{ status }}
                                    </option>
                                {% endfor %}
                            </select>

          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Обновить статус</button>
          </div>
        </form>
    </div>
<div class="col">
    </div>
</row>
</div>
{% endblock %}

{% block script%}
    {% load static %}
<script src="{% static 'poster_app/js/add_update_event.js' %}"></script>
{% endblock %}