{% extends "poster_app/administrator/base.html" %}
{% block content %}

    <section class="jumbotron text-center">
    <div class="container">
        <h1>Обновить информацию о театральной постановке</h1>
    </div>
  </section>
<div class="container" id="m_content">
<row>
    <div class="col">
    </div>
<div class="col-6">
        <form action="{% url 'admin_theater_detail' event_id=event.ID_event %}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
          <input type="hidden" required class="form-control" name="_method" value = "PUT">

          <label>Название</label>
          <br>
          <input type="text" required class="form-control" name="name" value = "{{ event.name }} readonly">
          <br>

          <label>Описание</label>
          <br>
          <textarea class="form-control" id="description" rows="4" name="description">{{ event.description }}
          </textarea>
              <div class="counter">Осталось символов: <span id="counter">{{ description_len }}</span></div>
          <br>

          <label>Адрес</label>
          <br>
          <input type="text" required class="form-control" name="address" value = "{{ event.address }}">
          <br>

          <label>Дата</label>
          <br>
          <input type="date" class="form-control" name="date" value = "{{event.data_begin|date:"Y-m-d" }}" required>
          <br>

          <label>Время начала</label>
          <br>
          <input type="time" class="form-control" name="time_begin" min="08:00" max="24:00"
                 required value = "{{ event.time_begin }}">
          <br>

          <label>Стоимость билета</label>
          <br>
            <input type="text" required class="form-control" name="address" value = "{{ event.ticket_price }}" readonly>


          <br>
              <img src="{{ event.img }}" class="card-img-top">
                  <select id="RequestType" class="form-control mt-3" name="status" id="status">
                                {% for status in status %}
                                    <option selected value= "{{ status }}">
                                        {{ status }}
                                    </option>
                                {% endfor %}
                            </select>

          </div>
          <div class="form-group">
            <button class="btn btn-info" type="submit">Обновить статус</button>
          </div>
        </form>
    </div>
<div class="col">
    </div>
</row>
</div>
{% endblock %}

{% block script%}
    {% load static %}
<script src="{% static 'poster_app/js/add_update_event.js' %}"></script>
{% endblock %}