{% extends "poster_app/user/base.html" %}
{% block content %}

    <section class="jumbotron text-center">
    <div class="container">
        <h1>Добавить концерт</h1>
    </div>
  </section>
<div class="container">
<row>
    <div class="col">
    </div>
<div class="col-6">
        <form action="{% url 'concert'  %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
          <input type="hidden" required class="form-control" name="_method" value = "POST">

          <label>Название</label>
          <br>
          <input type="text" required class="form-control" name="name">
          <br>

          <label>Описание</label>
          <br>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="description"></textarea>
          <br>

          <label>Адрес</label>
          <br>
          <input type="text" required class="form-control" name="address">
          <br>

          <label>Дата</label>
          <br>
          <input type="date" class="form-control" name="date" required>
          <br>

          <label>Время начала</label>
          <br>
          <input type="time" class="form-control" name="time_begin" min="08:00" max="24:00" required>
          <br>

          <label>Стоимость билета</label>
          <br>

          {% if event.isfree == True %}
          <input type="checkbox" id='123' name="123" class="mr-2 mb-2" checked>Бесплатно<br>
          <input type="text" class="form-control mt-2 d-none" id='price' name="price" value = "{{ event.ticket_price }}">
          {% else %}
          <input type="checkbox" id='123' name="123" class="mr-2 mb-2">Бесплатно<br>
            <input type="text" class="form-control mt-2" id='price' name="price" value = "{{ event.ticket_price }}">
          {% endif %}

          <br>
             <label for="upload_image">Прикрепить изображение</label>
                  <input type="file" class="form-control-file" id="upload_image" name="upload_image">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Добавить</button>
          </div>
        </form>
    </div>
<div class="col">
    </div>
</row>
</div>
{% endblock %}

{% block script%}
    {% load static %}
<script src="{% static 'poster_app/js/add_update_event.js' %}"></script>
{% endblock %}