{% extends "poster_app/user/base.html" %}
{% block content %}

    <section class="jumbotron text-center">
    <div class="container">
        <h1>Обновить информацию о театральной постановке</h1>
    </div>
  </section>
<div class="container">
<row>
    <div class="col">
    </div>
<div class="col-6">
        <form action="{% url 'theater_update_detail' event_id=event.ID_event %}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
          <input type="hidden" required class="form-control" name="_method" value = "PUT">

          <label>Название</label>
          <br>
          <input type="text" required class="form-control" name="name" value = "{{ event.name }}">
          <br>

          <label>Описание</label>
          <br>
          <textarea class="form-control" id="description" rows="4" name="description">{{ event.description }}
          </textarea>
              <div class="counter">Осталось символов: <span id="counter">{{ description_len }}</span></div>
          <br>

          <label>Адрес</label>
          <br>
          <input type="text" required class="form-control" name="address" value = "{{ event.address }}">
          <br>

          <label>Дата</label>
          <br>
          <input type="date" class="form-control" name="date" value = "{{event.data_begin|date:"Y-m-d" }}" required>
          <br>

          <label>Время начала</label>
          <br>
          <input type="time" class="form-control" name="time_begin" min="08:00" max="24:00"
                 required value = "{{ event.time_begin }}">
          <br>

          <label>Стоимость билета</label>
          <br>

          {% if event.isfree == True %}
          <input type="checkbox" id='123' name="123" class="mr-2 mb-2" checked>Бесплатно<br>
          <input type="text" class="form-control mt-2 d-none" id='price' name="price" value = "{{ event.ticket_price }}">
          {% else %}
          <input type="checkbox" id='123' name="123" class="mr-2 mb-2">Бесплатно<br>
            <input type="text" class="form-control mt-2" id='price' name="price" value = "{{ event.ticket_price }}">
          {% endif %}

          <br>
              <img src="{{ event.img }}" class="card-img-top">
              <br>
             <label for="upload_image">Прикрепить изображение</label>
                  <input type="file" class="form-control-file" id="upload_image" name="upload_image">
          </div>
          <div class="form-group">
            <button class="btn btn-info" type="submit">Добавить</button>
          </div>
        </form>
    </div>
<div class="col">
    </div>
</row>
</div>
{% endblock %}

{% block script%}
    {% load static %}
<script src="{% static 'poster_app/js/add_update_event.js' %}"></script>
{% endblock %}