{% extends "poster_app/user/base.html" %}
{% block content %}

    <section class="jumbotron text-center">
    <div class="container">
        <h1>Информация о конференции</h1>
    </div>
  </section>
<div class="container">
<row>
    <div class="col">
    </div>
<div class="col-6">
        <form>
            {% csrf_token %}
          <div class="form-group">
          <label>Название</label>
          <br>
          <p>{{ event.name }}</p>
          <br>
          <label>Описание</label>
          <br>
          <p>{{ event.description }}</p>
              <label>Адрес</label>
          <p>{{ event.address }}</p>
          <br>
              <label>Дата начала</label>
          <br>
              <p>{{ event.data_begin }}</p>
          <br>
          <label>Дата окончания</label>
          <br>
               <p>{{ event.data_end }}</p>

          <br>
          <label>Время начала</label>
          <br>
              <p>{{ event.time_begin }}</p>
          <br>
          <label>Время окончания</label>
          <br>
               <p>{{ event.time_end }}</p>
          <label>Стоимость билета</label>
          <br>
          <input type="checkbox" name="free" value="0" class="mr-2 mb-2">Бесплатно<br>
              <p>{{ event.ticket_price }}</p>
          </div>

        </form>
    </div>
<div class="col">
    </div>
</row>
</div>
{% endblock %}