{% extends "poster_app/base.html" %}
{% block content %}

<main role="main">


  <section class="jumbotron text-center">
    <div class="container" >
        <h1>Забронировать</h1>
    </div>
  </section>
<div class="container" id="m_content">
<div class="mb-5"><h2>{{ event.name }}</h2></div>
    {% for number_row in rows %}
  <div class="row row-booking mb-1">

    <div class="col-2">
      ряд №{{ number_row }}
    </div>
    <div class="col-10"> {% for number_place in places  %}
        <div id="place-booking"><button class="btn-booking" id="button-booking"
                                        value="Выбрано место: Ряд №{{ number_row }} Место №{{ number_place }}" onclick="chooseTickets(this)">
            {{ number_place }}</button> </div>
        {% endfor %}
    </div>

  </div>
    {% endfor %}

{% if name == None %}
    <div class="row" id="row_booking">
<p>Для бронирования билета необходима авторизация</p>

        <button type="button" class="btn btn-outline-secondary " >
                  Войти в личный кабинет</button>
    </div>
{% endif %}
<br><br>
    <p>Стоимость билета: {{ event.ticket_price }} рублей</p>
    <p id="booking-choice-price-p"></p>
    <label class="d-none" id="price-ticket">{{ event.ticket_price }}</label>
    <label class="d-none" id="all-price-ticket">0</label>

<form role="form" action="{% url 'booking' event_id=event.ID_event %}" method="POST" >
        {% csrf_token %}
    <div class="form-group">
        <label class="d-none" id="event-id">{{ event.ID_event }}</label>
        <input type="hidden" name="booking_place_input" id="booking_place_input">
        <label id="booking_choice_p"></label>
        <br>
        <button class="btn btn-outline-success btn-sm mt-3" type="submit">
                    Забронировать</button>
        </div>

</form>

</div>


</main>
{% endblock %}

{% block script%}
    {% load static %}
<script src="{% static 'poster_app/js/booking.js' %}"></script>
{% endblock %}