<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">

        <form role="form" action="{% url 'auth_user' %}" method="POST" id="auth_block">
            {% csrf_token %}
<h1 class="h5 mb-3 font-weight-normal">Войти в личный кабинет</h1>
    <label for="inputUsername" class="sr-only">Имя пользователя</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Имя пользователя" required autofocus
           name="username">
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" id="inputPassword" class="form-control mt-3 mb-3" placeholder="Пароль" required name="password">
    <p class="error_auth_label mt-3 mb-3"></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
             <p class="mt-3 mb-3 auth_label">или</p>
            <a class="btn btn-outline-primary btn-block" href="{% url 'registration' %}">
                        Регистрация</a>
        </form>

      </div>
    </div>
  </div>
</div>

<header>




    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Афиша Красноярска</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto w-75">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index_exhibition' %}">Выставки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index_concert' %}">Концерты</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'index_conference' %}">Конференции</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index_theater' %}">Театр</a>
          </li>
          <li class="nav-item w-75">
            <form class="form-inline ml-5 mt-2 mt-md-0" action="{% url 'search'  %}" method="POST">
          {% csrf_token %}
        <input class="form-control mr-sm-2 w-75" type="text" placeholder="Введите поисковой запрос" aria-label="Search"
               name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
      </form>
          </li>
      </ul>
        {% if name == None %}
        <button type="button" class="btn btn-outline-light ml-lg-5 my-2" data-toggle="modal"
                      data-target="#myModal">
                  Войти в личный кабинет
              </button>
        {% else%}
            {% if admin == True %}
                <ul class="navbar-nav mr-5 ">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Привет, {{ name }}!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'moderation' %}">Ожидает проверки</a>
            <a class="dropdown-item" href="{% url 'published' %}">Опубликовано</a>
            <a class="dropdown-item" href="{% url 'rejected' %}">Отклонено</a>
            <a class="dropdown-item" href="{% url 'archive' %}">Архив</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout_view' %}">Выйти</a>
        </div>
      </li>
        </ul>
                {% else %}
            <ul class="navbar-nav mr-5">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Привет, {{ name }}!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'profile' %}">Профиль</a>
            <a class="dropdown-item" href="{% url 'events' %}">Мои события</a>
            <a class="dropdown-item" href="{% url 'booking_user' %}">Мои бронирования</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout_view' %}">Выйти</a>
        </div>
      </li>
        </ul>
                {% endif %}
        {% endif %}
    </div>
  </nav>

</header>
