{% extends "poster_app/base.html" %}
{% block content %}


<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>{{ title }}</h1>
    </div>
  </section>
{% load static %}
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for event in events %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img src="{{ event.img }}" class="card-img-top">
          <h4 class="card-header">{{ event.name }}</h4>
            <div class="card-body">


                {% if event.id_type_exhibition.name == 'постоянная экспозиция' %}
              <p class="card-text">{{ event.id_type_exhibition.name }}</p>
                {% elif event.id_type_exhibition.name == 'временная экспозиция' %}
                <p class="card-text">с {{ event.data_begin|date:"d E" }} - по {{ event.data_end|date:"d E" }}</p>
                {% else %}
                <p class="card-text">{{ event.data_begin }} {{ event.time_begin }}</p>
                {% endif %}

                <p class="card-text">{{ event.address }}</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'index_detail' event_id=event.ID_event  %}">
                        Посмотреть</a>
                    {% if event.ID_user_profile.ID_user_profile != user.ID_user_profile and admin != True %}
                   <a class="btn btn-sm btn-outline-secondary" href="{% url 'booking' event_id=event.ID_event  %}">Забронировать</a>
                    {% endif %}
                </div>
                  {% if event.isfree == True %}
                <small class="text-muted">бесплатно</small>
                  {% else %}
                  <small class="text-muted">{{ event.ticket_price }} руб.</small>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
  </div>

</main>



{% endblock %}