<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Афиша Красноярска | Админинстратор</title>

    {% load static %}
    <link href="{% static 'poster_app/css/album.css'%}" rel="stylesheet">
    <link href="{% static 'poster_app/css/carousel.css'%}" rel="stylesheet">
    <link href="{% static 'poster_app/css/poster_krsk.css'%}" rel="stylesheet">
    <link href="{% static 'poster_app/css/bootstrap.min.css' %}" rel="stylesheet"  type="text/css" />

</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Афиша Красноярска</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto w-75">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'moderation' %}">Ожидает проверки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'published' %}">Опубликовано</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'rejected' %}">Отклонено</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'archive' %}">Архив</a>
          </li>

      </ul>

        <ul class="navbar-nav mr-5 ">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Привет, {{ name }}!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'moderation' %}">Ожидает проверки</a>
            <a class="dropdown-item" href="{% url 'published' %}">Опубликовано</a>
            <a class="dropdown-item" href="{% url 'rejected' %}">Отклонено</a>
            <a class="dropdown-item" href="{% url 'archive' %}">Архив</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout_view' %}">Выйти</a>
        </div>
      </li>
        </ul>
    </div>
  </nav>
</header>
{% block content %}

{% endblock %}
<footer id="fot" class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Наверх</a>
    </p>
    <p>Афиша Красноярска &copy; 2020</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'poster_app/js/auth.js' %}"></script>

{% block script %}
{% endblock %}

</body>
</html>